[Unit]
Description=Beverage-on-demand to Kai bridge

[Service]
PIDFile=/tmp/bodbridge.pid
ExecStart=/var/storage/acres4/bodbridge/bodbridge.rb 4567
WorkingDirectory=/var/storage/acres4/bodbridge
Restart=on-abort
User=acres4

[Install]
WantedBy=multi-user.target
